<%-include('../partials/boilerplate')%>
<%-include('../partials/navbar')%>
<div class="container d-flex align-items-center justify-content-center">
  <div class="card" style="width: 30%;">
    <img class="card-img-top" src="https://source.unsplash.com/200x200/?nature" alt="Card image cap">
    <div class="card-body">
      <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Minus quas doloremque accusamus ullam, corrupti suscipit odio repudiandae voluptatem perferendis tempora! Voluptas sunt iure illum maxime in cupiditate quos eligendi quisquam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi ipsum itaque tempora necessitatibus </p>
    </div>
  </div>
</div>
<%-include('../partials/footer')%>