<%-include('../partials/boilerplate')%>
<%-include('../partials/navbar')%>

<div class="continer d-flex flex-column align-items-center justify-content-center">
  <h1 class="m-5">ERROR STATUS 404!!! </h1>
  <h3 class="text-muted">YOU ENTER A WRONG PLACE WHICH NOT EXIST</h3>
  <a href="/"><button class="btn btn-info m-4">Back to Home</button></a>
</div>

<%-include('../partials/footer')%>